* {
    margin: 0;
    align-items: center;
    font-family: "Lucida Console", "Courier New", monospace;
}   

a {
    color: white;
    text-decoration: none;
}

.title-line {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: gray;
    padding: 10px;
}

.top {
    font-size: 80px;
    padding-right: 5px;
    padding-left: 5px;
}

header {
    display: flex;
    flex-direction: column;
    background-color: gray;
    color: white;
}

menu {
    position: fixed;
    right: 0; 
    top: 10%;
    background-color: #333; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 20px;
    color: white;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

body {
    background-color: gray;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    margin-right: 140px;
}

.box {
    background-color: white;
    color: black;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    text-align: center;
    border: 3px solid black;
    font-size: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

.left-boxes {
    position: fixed;
    right: 0; 
    top: 50%;
    padding: 10px;
}

.title {
    font-size: 40px;
    padding-bottom: 5px;
}

  /* @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  } */
